*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/misc.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild

javadoc/
toolchain/
app/src/main/cpp-dep/build/



CMakeCache.txt
CMakeFiles/
