*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/misc.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild

app/src/main/jniLibs/
app/src/main/cpp-dep/build/
app/src/main/cpp-dep/install/

javadoc/

toolchain/

CMakeCache.txt
CMakeFiles/
